<div class="faq__item-top-container">
  <h3 class="faq__item-title">Other question?</h3>
  <button class="faq__item-button">
    <img
      class="faq__item-button-icon"
      src="./assets/arrow-down.svg"
      alt="arrow down"
    />
  </button>
</div>
<div class="faq__item-description">
  <h4 class="faq__item-sub-title">Lorem ipsum dolor sit ame:</h4>
  <p class="faq__item-text">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc gravida
    sollicitudin diam, vestibulum placerat nisl finibus ut. Duis ac pulvinar
    justo. Aliquam mi nisl, gravida eget suscipit non, sodales in tortor. Nam
    purus sem, blandit non justo ac, ornare tempor quam. Morbi pharetra vehicula
    ornare. Proin gravida turpis orci, sit amet sollicitudin mi rutrum nec.
  </p>
</div>
