<section class="process">
  <h1 class="process__title">Meticulous Methodical Process</h1>

  <div class="process__items-container">
    <div class="process__item process__item--left">
      <img
        class="process__item-icon"
        src="./assets/hand-icon.svg"
        alt="hand icon"
      />
      <h3 class="process__item-title">Mission</h3>
      <p class="process__item-description">
        Our team of researchers are working around the clock to uncover the best
        performance and health-boosting superfoods on the planet. We do the
        homework so you don't have to. Each superfood is supported by strong
        clinical studies.
      </p>
    </div>

    <div class="process__item process__item--right">
      <img
        class="process__item-icon"
        src="./assets/error-icon.svg"
        alt="error icon"
      />
      <h3 class="process__item-title">The problem</h3>
      <p class="process__item-description">
        our advisory panel reviews all of the scientific research in detail.
        Each ingredient must pass the rigorous approval process. Once approved,
        only then do our formulas move on to production.
      </p>
    </div>

    <div class="process__item process__item--left">
      <img
        class="process__item-icon"
        src="./assets/heart-icon.svg"
        alt="heart icon"
      />
      <h3 class="process__item-title">That isn't therapeutic</h3>
      <p class="process__item-description">
        Production takes place in our GMP-compliant, state of the art
        manufacturing facility. Once again, only using 100% organic ingredients
        that have been verified by the USDA.
      </p>
    </div>

    <div class="process__item process__item--right">
      <img
        class="process__item-icon"
        src="./assets/man-icon.svg"
        alt="man icon"
      />
      <h3 class="process__item-title">The result</h3>
      <p class="process__item-description">
        Getting our formulas into the hands of people who need it most and
        transforming lives for the better. We believe in improving humankind by
        improving human performance. And that starts with nourishing your body
        with the right fuel.
      </p>
    </div>
  </div>
</section>
