<div class="carousel-item">
  <div class="carousel-item__text">
    <h2 class="carousel-item__title">Metabolism Boosting</h2>
    <p class="carousel-item__description">
      These powerful superfoods ignite your metabolism and reduce bloating. They
      improve digestion and deliver the energy you need to get things done
    </p>
    <p class="carousel-item__sub-description">Main Organic Ingiridents:</p>
  </div>

  <div class="carousel-item__items-container">
    <div class="carousel-item__item">
      <img
        class="carousel-item__item-img"
        src="./assets/acai-berry.png"
        alt="acai berry"
      />
      <div class="carousel-item__item-text carousel-item__item-text--small">
        organic acai berry
      </div>
    </div>
    <div class="carousel-item__item">
      <img
        class="carousel-item__item-img"
        src="./assets/acacia-gum.png"
        alt="acacia gum"
      />
      <div class="carousel-item__item-text carousel-item__item-text--small">
        organic acacia gum
      </div>
    </div>
    <div class="carousel-item__item">
      <img
        class="carousel-item__item-img"
        src="./assets/cinnamon-bark.png"
        alt="cinnamon bark"
      />
      <div class="carousel-item__item-text">organic ceylon cinnamon bark</div>
    </div>
    <div class="carousel-item__item">
      <img
        class="carousel-item__item-img"
        src="./assets/green-tea.png"
        alt="green tea"
      />
      <div class="carousel-item__item-text carousel-item__item-text--small">
        organic green tea
      </div>
    </div>
  </div>
</div>
