<div class="carousel">
  <div class="carousel__items-container">
    <carousel-item-comp
      class="carousel__item carousel__item--active"
    ></carousel-item-comp>
    <carousel-item-comp class="carousel__item"></carousel-item-comp>
    <carousel-item-comp class="carousel__item"></carousel-item-comp>
  </div>
  <div class="carousel__paginator">
    <button class="carousel__paginator__arror-left">
      <img src="./assets/arrow-left.svg" alt="left arrow" />
    </button>
    <div class="carousel__paginator-dots-container">
      <div
        class="carousel__paginator-dot carousel__paginator-dot--active"
      ></div>
      <div class="carousel__paginator-dot"></div>
      <div class="carousel__paginator-dot"></div>
    </div>
    <button class="carousel__paginator__arror-right">
      <img src="./assets/arrow-right.svg" alt="right arrow" />
    </button>
  </div>
</div>
