$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;

$color-white: #ffffff;
$color-gray: #f5f5f5;
$color-black: #0b0a0c;
$color-red: #c2110e;

@mixin link-button($color: $color-black) {
  max-width: 360px;
  padding: 15px;
  border-radius: 15px;
  background-color: $color;
  color: $color-white;
  text-align: center;
}
