<section class="transformation">
  <h2 class="transformation__title">
    Performance nutrition and healthy transformation made simple:
  </h2>

  <div class="transformation__items-container">
    <div class="transformation__item">
      <img
        class="transformation__item-icon"
        src="./assets/fire-icon.svg"
        alt="fire icon"
      />
      <div class="transformation__item-text">
        Recharged <b>metabolism</b> to stay in peak shape
      </div>
    </div>

    <div class="transformation__item">
      <img
        class="transformation__item-icon"
        src="./assets/lightning-icon.svg"
        alt="lightning icon"
      />
      <div class="transformation__item-text">
        Enjoy jitter-free <b>energy</b> to tackle your busy schedule
      </div>
    </div>

    <div class="transformation__item">
      <img
        class="transformation__item-icon"
        src="./assets/man-icon.svg"
        alt="man icon"
      />
      <div class="transformation__item-text">
        Enhance <b>endurance</b>, <b>performance</b>, and exercise
        <b>recovery</b>
      </div>
    </div>

    <div class="transformation__item">
      <img
        class="transformation__item-icon"
        src="./assets/shield-virus-icon.svg"
        alt="shield virus icon"
      />
      <div class="transformation__item-text">
        Strengthen your <b>immune health</b> to stay on your game
      </div>
    </div>

    <div class="transformation__item">
      <img
        class="transformation__item-icon"
        src="./assets/checkmarks-icon.svg"
        alt="checkmarks icon"
      />
      <div class="transformation__item-text">
        <b>30 sec habit</b>. Mixes in any beverage fast and easy
      </div>
    </div>

    <div class="transformation__item">
      <img
        class="transformation__item-icon"
        src="./assets/thumbsup-icon.svg"
        alt="thumbsup icon"
      />
      <div class="transformation__item-text">
        <b>Tastes amazing</b>! No bitterness, gritty, or clumpy texture
      </div>
    </div>
  </div>
</section>
