<section class="benefits">
  <div class="benefits__item benefits__item--small">
    <img
      class="benefits__item-icon"
      src="./assets/moon-icon.svg"
      alt="moon icon"
    />
    <div class="benefits__item-text">Improves sleep</div>
  </div>
  <div class="benefits__item">
    <img
      class="benefits__item-icon"
      src="./assets/shield-heart-icon.svg"
      alt="shield heart icon"
    />
    <div class="benefits__item-text">Boosts immune system</div>
  </div>
  <div class="benefits__item benefits__item--small">
    <img
      class="benefits__item-icon"
      src="./assets/hand-icon.svg"
      alt="hand icon"
    />
    <div class="benefits__item-text">Enhances strength</div>
  </div>
  <div class="benefits__item benefits__item--small">
    <img
      class="benefits__item-icon"
      src="./assets/gut-icon.svg"
      alt="gut icon"
    />
    <div class="benefits__item-text">Improves digestion</div>
  </div>
</section>
